# Created by https://www.gitignore.io/api/java,intellij

# eclipse specific git ignore
*.pydevproject
.project
.metadata
.recommenders
.metadata/
.recommenders/
.metadata/**
.recommenders/**
!.metadata/**
!.recommenders/**
!.metadata/**/*
!.recommenders/**/*
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# unwanted folders -----
/out/
*/target/**
/Servers/*
?RemoteSystemsTempFiles/*
*.iml

# modules.xml
# .idea/misc.xml
*.ipr

# Sonarlint plugin
.idea/sonarlint

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.project
